<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="usermapper">
	<select id="useralllist" resultType="map">
		SELECT * FROM usr_user;

	</select>

	<select id="UserSelectOneGet" resultType="map">
	SELECT * FROM usr_user WHERE  mail_id= #{param1};

	</select>
	
		<select id="UserSelectOnePost" resultType="map">
	SELECT * FROM usr_user WHERE  mail_id= #{param1};

	</select>
	


</mapper>